#poll_options li .poll_not_voted .poll_radio
{
    margin-top: 0px !important;
}
div.event_photo_container{
   text-align: center;
   display: inline;
}

.profile_friends_status .profile_friends_lists li > div{
    margin-top: -3px;
    
}   
.groups-list .groups_browse li.first-group{
    border-top: none !important;
}
.groups-list .groups_browse li{
    border-top: 1px solid #EAEAEA !important;
} 
.subsection .group-info ul > li{
    padding-bottom: 5px !important;
    padding-top: 5px !important;
}
.search_friend .input_right select{width: 150px;}
div#footer .section{position: static !important;}
.compose-container{overflow: auto;}
.music_browse li{padding-top: 2px;}
.music_browse_info{overflow: visible; width: 500px; }

.music_browse_options a.buttonlink{float:left;}
ul.block_friends li a{height: auto !important;}

input[type="radio"] { margin-top:2px;}
.notifications_options > div{display: inline;}
.notifications_markread_link{height: 20px;}
.panel .content .s-input{width: 150px;}
.search_my_question .panel .content input{margin-right: 1px; margin-top: -2px;}
p.rating_span span{ padding-right: 2px; padding-bottom: 2px;}
ul.im_container_crunched#im_container > li.im_main_convo{
	min-width: 150px !important;
	max-width: 250px !important;
}
.div_title label.error{clear: both;}
ul.polls_browse .polls_browse_options{float:none !important;}
#browsemembers_ul li .browsemembers_results_info_link { width: 552px !important;}
#browsemembers_ul li .browsemembers_results_links{height: 18px !important;  width: 109px !important;}
p .rating_star_generic{margin: 0}
.select_cat{margin-left: 10px;}
#content_compose_title .s-input label, #content_compose_experts .s-input label{padding-top: 4px !important;}
.featured-groups-wrapper .bxslider-wrap .next, .featured-groups-wrapper .bxslider-wrap .prev {bottom: 0px !important;}
.search_poll#search{margin-left: -3px;}

div.section .global_form .form-elements .form-wrapper #fieldset-buttons button{padding-top: 7px !important; padding-bottom: 7px !important;}
.subcontent .filter .select_sort{padding-left: 0px !important;}
div.section .form_login .global_form .form-elements .form-wrapper #fieldset-buttons button{padding-top: 0px !important; padding-bottom: 0px !important;}
.user_profile_block{padding-bottom: 2px;}
.layout_video_profile_videos{width: 514px;}
#resume_work_form div input, #resume_work_form div select, #resume_education_form div input, #resume_education_form div select, #resume_skill_form div select, #resume_other_skill_form div input,
#resume_reference_form div input{ margin-bottom: 5px;}
#resume_work_form div button, #resume_education_form div button, #resume_other_skill_form div button, #resume_reference_form div button{ margin-right: 5px;}
ul li.first_profile_recruiter{margin-top: -13px;}
#sl_job .panel{padding-left: 0px;}
#sl_type .panel{padding-left: 0px;}
#recruiter_job_search_form div input, #recruiter_job_search_form div select{margin-bottom: 5px;}
#recruiter_job_search_advanced_form div input, #recruiter_job_search_advanced_form div select{margin-bottom: 5px;}
#recruiter_job_search_advanced_form div#buttons-element{padding-top: 11px;}
#profile .panel{padding-left: 0px;}
#recruiter_profile_form div input{margin-bottom: 5px;}
#recruiter_profile_form div button{margin-right: 5px;}
#recruiter_profile_form div textarea{margin-top: 10px; margin-bottom: 5px;}
#recruiter_search_resume_form div select, #recruiter_search_resume_form div input{margin-bottom: 5px;}
.albums_editphotos input[type="radio"], .albums_editphotos input[type="checkbox"]{margin-top: -2px;}
.job_main button{margin-right: 5px;}
#recruiter_search_resume_form div select{margin-top: 10px;}
#recruiter_job_search_form div select{margin-top: 10px;}
.job-form .input select{margin-top: 10px;}
.job-form .job_date select{margin-top: 17px;}
.job-form .input label.error{color: red; clear:both; width:228px;}
.job-form .contact_name label.error{ width:260px !important;}
.job-form .input label {width: 98px !important;}
.job-form .job_title label.error{color: red; clear:both; width:245px !important;}
.job-form .job_num label.error{color: red; clear:both; width:243px !important;}
.job-form .company_name label.error{ width:287px !important;}
.job-form .company_size label.error{ width:277px !important;}
.job-form .apply_job_title label.error{ width:240px !important; clear: both !important; text-align: right !important;}
.resume_info_main .job-form-step-1 label{width:110px !important;}
.job-form-step-1 label.error{width: 275px !important; clear: both;color: red; text-align: left;margin-left: 11px;}
.job-form-step-2 .input label{width:150px !important}
.job-form-step-2 .input label.error{width: 225px !important;}
.job-form-step-2 .resume_date select{margin-top: 17px;}
.job-form .input #select_job label,.job-form-step-2 .input #select_job label, .job-form .input #profile label{width:auto !important; text-align: left;}
.job-form-step-2 .job_match ul li label{width:auto !important; text-align: left;}
.job-form-step-2 .job_match ul li{margin-top: -10px; margin-left: -10px;}
.job-form .input #select_type ul li{width: 200px;}
.job-form .input #select_type label{text-align: left; width: 150px !important; clear: right;}
.job-form .contact_via ul li label{text-align: left; width: 50px !important;}
#banner-school .find-school{width: 610px;}
.list_top_school h4.title, .list_comments_school h4.title{font-size: 12px;}
ul.list_top_school li a.view-detail{width: 67px;}
.school-detail-entry .content-entry ul li { padding-top: 3px; }
.school-post-article .post_comment fieldset.post-article-form .input label{width: 350px;}