.profile_friends_lists li > div{
    margin-top: 0px !important;
    
}

.profile_friends_status .profile_friends_lists li > div{
    margin-top: -3px;
}
.section .global_form .form-elements .form-wrapper #fieldset-buttons button{
    padding-top: 1px;
}
.div_title label.error{position: relative; right: 112px;}
div.input_right{width: 270px;}
.forum_content .forum_view_detail table td .forum_topic_posts_info_top .forum_topic_posts_info_top_options{width: 550px;}
.events_rsvp .event_radio input  {margin-top:4px !important}
input[type="radio"] { margin-top:3px;}
.panel .content .s-input{width: inherit;}
#browsemembers_ul li .browsemembers_results_info_link { width: 552px !important;}
#browsemembers_ul li .browsemembers_results_links{height: 20px !important;  width: 109px !important;}
.rating_star_generic{margin: 0 -2px;}
div.section .global_form .form-elements .form-wrapper #fieldset-buttons button{padding-top: 7px !important;}
div.section .form_login .global_form .form-elements .form-wrapper #fieldset-buttons button{padding-top: 0px !important; padding-bottom: 0px !important;}
.layout_video_profile_videos{width: 514px;}
.albums_editphotos input[type="radio"]{margin-top: 2px;}
.my-work-experience table th{text-align: left;}
#banner-school .find-school{width: 600px;}
.school-detail-entry .content-entry ul li { padding-top: 3px; }