.title_checklist .title_left{font-weight: bold; padding-left: 11px;}
.title_checklist .title_right{margin-left: 43px;}
.resume_info{padding-top:11px;}
.resume_info button{margin-left:9px; margin-bottom: 9px;}
.resume_info_main .lb_resume, .resume_info_main span{padding-left: 9px;}
.resume_info_main .eg_resume{ padding-left: 107px;}
.resume_info .lb_search{margin-top: 3px;}
.resume_work_main form button#save, .resume_education_main form button#save, .resume_skill_main form button#save, .resume_skill_main form button#save_skill{margin-bottom: 5px;}
.resume_work_list, .resume_education_list, .resume_skill_list, .resume_skill_other_list, .resume_reference_list{border: 1px solid #D0E2EC; margin-bottom: 5px;}
table .row_work{padding-top: 5px;}
table.last_resume{border-bottom: 1px dotted; padding: 0 3px; }
.resume_preview_main table{width: 100%;}

/* check list */
.check_list{border-top: 1px solid #DCEBF3;background-color:#f1faff;color:#000000}
.check_list h4.title_check_list{padding:12px 50px 12px 19px;border-top:1px solid #fff;background-color:#f8f8f8;overflow:hidden;position:relative}
.check_list h4.title_check_list span{float:right;font-weight:normal;position:absolute;top:20px;right:15px}
.check_list p{padding:9px 13px 9px 19px;border-top:1px solid #fff;line-height:19px;overflow:hidden;position:relative}
.check_list p span{float:left;width:18px;height:18px;margin-right:13px;display:inline;color:#7ca5bd;font-weight:bold;background:url(~/application/modules/Recruiter/externals/images/number_step.png) no-repeat;text-align:center}

.check_list p.current{background-color:#e4f3fb;font-weight:bold}
.check_list p.current span{color:#fff;background-position:0 -18px}
.check_list p.current label{background-position:0 0}
/* form step */
.job-form .submit input.min { background-image: url(~/application/modules/Core/externals/images/bg-btn-2.png); width: 79px; }
.job-form .input p{float:left;padding-left:108px;margin-top:10px;width:500px}
.job-form .radio{margin-top:12px;overflow:hidden;padding-left:4px}
.job-form .radio input{float:left;margin:0 12px 12px 0;padding:0}
*:first-child+html .job-form .radio input{margin-top:-4px}
.job-form .radio label{text-align:left;line-height:21px}
.job-form-step-1 .submit{padding-left:252px}
.resume_info_main .job-form-step-1 label{width:98px}
.job-form-step-1 label.error{width: auto; position: relative; left: 107px; clear: left;color: red;}
.job-form-step-2 .input label{width:150px}
.job-form-step-2 label.fix-line{line-height:19px;margin-top:5px}
.job-form-step-2 .input select{width:240px;margin-right:5px}

.job-form-step-2 .input textarea{width:350px !important}
.job-form-step-2 .submit{padding-left:160px}
