.title_checklist .title_left{font-weight: bold; padding-left: 11px;}
.title_checklist .title_right{margin-left: 43px;}
.resume_info{padding-top:11px;}
.resume_info button{margin-left:9px; margin-bottom: 9px;}
.resume_info_main .lb_resume, .resume_info_main span{padding-left: 9px;}
.resume_info_main .eg_resume{ padding-left: 107px;}
.resume_info .lb_search{margin-top: 3px;}
.resume_work_main form button#save, .resume_education_main form button#save, .resume_skill_main form button#save, .resume_skill_main form button#save_skill{margin-bottom: 5px;}
.resume_work_list, .resume_education_list, .resume_skill_list, .resume_skill_other_list, .resume_reference_list{border: 1px solid #D0E2EC; margin-bottom: 5px;}
table .row_work{padding-top: 5px;}
table.last_resume{border-bottom: 1px dotted; padding: 0 3px; }
.resume_preview_main table{width: 100%;}

/* check list */
.check_list{border-top: 1px solid #DCEBF3;background-color:#f1faff;color:#000000}
.check_list h4.title_check_list{padding:12px 50px 12px 19px;border-top:1px solid #fff;background-color:#f8f8f8;overflow:hidden;position:relative}
.check_list h4.title_check_list span{float:right;font-weight:normal;position:absolute;top:20px;right:15px}
.check_list p{padding:9px 13px 9px 19px;border-top:1px solid #fff;line-height:19px;overflow:hidden;position:relative}
.check_list p span{float:left;width:18px;height:18px;margin-right:13px;display:inline;color:#7ca5bd;font-weight:bold;background:url(~/application/modules/Recruiter/externals/images/number_step.png) no-repeat;text-align:center}

.check_list p.current{background-color:#e4f3fb;font-weight:bold}
.check_list p.current span{color:#fff;background-position:0 -18px}
.check_list p.current label{background-position:0 0}
/* form step */
.job-form .submit input.min { background-image: url(~/application/modules/Core/externals/images/bg-btn-2.png); width: 79px; }
.job-form .input p{float:left;padding-left:108px;margin-top:10px;width:500px}
.job-form .radio{margin-top:12px;overflow:hidden;padding-left:4px}
.job-form .radio input{float:left;margin:0 12px 12px 0;padding:0}
*:first-child+html .job-form .radio input{margin-top:-4px}
.job-form .radio label{text-align:left;line-height:21px}
/*.job-form-step-1 .submit{padding-left:252px}*/
.resume_info_main .job-form-step-1 label{width:98px}
.job-form-step-1 label.error{width: auto; position: relative; left: 107px; clear: left;color: red;}
.job-form .resume_date label{ color: #000; float: left; font-weight: bolder; line-height: 37px; margin-top: 8px; margin-right: 10px; text-align: right; width: 150px; }
.job-form .resume_date select{ border: #e5e5e5 solid 1px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; margin-top:9px; margin-right: 20px; padding: 9px; }

.button_control a{background:url(~/application/modules/Core/externals/images/bg-btn-2.png) no-repeat;color:#FFFFFF;float:left;font-size:1.25em;font-weight:bolder;height:35px;line-height:35px;margin-right:10px;text-align:center;width:79px;}
.button_control a:hover{color: #fff;cursor: pointer; background-position: 0 -35px;}
.button_control a.save_job{width:127px;background:url(~/application/modules/Core/externals/images/bg-btn-1.png) no-repeat}
.button_control a:hover.save_job{background-position:0 -35px}
.recruiter .subsection .subsection{margin-left:18px;margin-right:18px;}
.job-form-step-2 .input label.error{color: red; clear: left; width: 211px; text-align: left;}
.bt_preview_job {padding-left:46px;margin-top:25px;overflow:hidden}
.bt_preview_job a{float:left;width:195px;height:71px;font-size:0;line-height:71px;text-indent:-1985em;background:url(~/application/modules/Resumes/externals/images/bt_preview_job.png) no-repeat}
.bt_preview_job a:hover{background-position:0 -70px;cursor: pointer;}
.search_result table,.your_resumes table{width:100%}
.search_result table th,.your_resumes table th{background-color:#e5f1f7;}
.search_result table th,.search_result table td,.your_resumes table th,.your_resumes table td{color:#000;text-align:center;padding:10px 15px;border-top:1px solid #fff}
.search_result table td,.your_resumes table td{color:#393939}
.search_result table td a,.your_resumes table td a{color:#000}
.your_resumes table td a.apply, .search_result table td a.apply{color:#00a9dd}
.your_resumes table td a:hover.apply, .search_result table td a:hover.apply{color:#e56b00}
.search_result table td a:hover,.your_resumes table td a:hover{color:#e56b00}
.search_result table .align_l{text-align:left}
.search_result table tr.bg_color td{background-color:#eff8fc}
.your_resumes table th{background-color:#d2edfc}
.my_jobs table th{background-color:#f4fafc}
.your_resumes table tr.bg_color td{background-color:#f3f3f3}
.your_resumes table th,.your_resumes table td{text-align:left}
.banner_your_resumes{padding:10px}
.banner_your_resumes img{border:1px solid #e4f0f7;margin-bottom:8px;width:626px}
.banner_your_resumes p{line-height:19px;color:#000;padding:0 1px}
.layout_right .content_online_resume a.bt_quick_search{width:127px;height:35px;background:url(~/application/modules/Core/externals/images/bg-btn-1.png) no-repeat;line-height:35px}
.layout_right .content_online_resume a:hover.bt_quick_search{background-position:0 -35px}
.layout_right .content_online_resume input{border:1px solid #e5e5e5;padding:8px 10px;margin:10px 0 0 24px;color:#969696;width:198px;font-weight:bold}
.layout_right .content_online_resume p{color:#262626;text-align:center;margin:10px 0;font-size:13px}
.layout_right .content_online_resume select{border:1px solid #e5e5e5;padding:5px 5px 5px 16px ;margin:10px 0 10px 34px;color:#262626;width:198px}
.company_profile{padding:24px;overflow:hidden}
.company_profile p{margin:4px 0;line-height:19px}
.company_profile img.img_company{background:url(~/application/modules/Resumes/externals/images/bg_img_employers.gif) no-repeat;display:inline;float:left;height:70px;
margin-top:6px;margin-right:18px;padding:1px 1px 9px;width:118px;}
/*.job_description{padding:20px 15px}*/
.job_description p{overflow:hidden;padding:7px 0}
.job_description p label{float:left;width:124px;padding-right:25px;font-weight:bold;text-align:right}
.job_description p span{float:left;width:460px;color:#404040}
.job-form .submit input.submit_save{
    background-image: url(~/application/modules/Resumes/externals/images/bg-save-submit.png);
    height: 30px;
    line-height:29px;
    padding: 0 5px;
    width: 70px;
}
.job-form .submit input.submit_save:hover{
    background-position: left -30px;
}
a.preview_pdf{
    background: url(~/application/modules/Resumes/externals/images/pdf.png) no-repeat;
    padding: 7px 31px 12px;
}
.information-profile{padding:10px;}
.information-profile img{float: left; margin-right: 10px; margin-bottom: 10px;}


/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* Component containers
----------------------------------*/
.ui-widget { 
    /*font-family: Lucida Grande, Lucida Sans, Arial, sans-serif; */
    font-size: 1em; 
}
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { 
    /*font-family: Lucida Grande, Lucida Sans, Arial, sans-serif; */
    font-size: 1em; 
}
.ui-widget-content { border: 1px solid #a6c9e2; background: #fcfdfd url(~/application/modules/Resumes/externals/images/ui-bg_inset-hard_100_fcfdfd_1x100.png) 50% bottom repeat-x; color: #222222; }
.ui-widget-content a { color: #222222; }
.ui-widget-header { border: 1px solid #4297d7; background: #5c9ccc url(~/application/modules/Resumes/externals/images/ui-bg_gloss-wave_55_5c9ccc_500x100.png) 50% 50% repeat-x; color: #ffffff; font-weight: bold; }
.ui-widget-header a { color: #ffffff; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #c5dbec; background: #dfeffc url(~/application/modules/Resumes/externals/images/ui-bg_glass_85_dfeffc_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #2e6e9e; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #2e6e9e; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #79b7e7; background: #d0e5f5 url(~/application/modules/Resumes/externals/images/ui-bg_glass_75_d0e5f5_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #1d5987; }
.ui-state-hover a, .ui-state-hover a:hover { color: #1d5987; text-decoration: none; }
/*.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #79b7e7; background: #f5f8f9 url(~/application/modules/Resumes/externals/images/ui-bg_inset-hard_100_f5f8f9_1x100.png) 50% 50% repeat-x; font-weight: bold; color: #e17009; }*/
/*.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #e17009; text-decoration: none; }*/
.ui-widget :active { outline: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #fad42e; background: #fbec88 url(~/application/modules/Resumes/externals/images/ui-bg_flat_55_fbec88_40x100.png) 50% 50% repeat-x; color: #363636; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #363636; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: 1px solid #cd0a0a; background: #fef1ec url(~/application/modules/Resumes/externals/images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x; color: #cd0a0a; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #cd0a0a; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #cd0a0a; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }

/* Icons
----------------------------------*/

/* states and images */
.ui-icon { width: 16px; height: 16px; background-image: url(~/application/modules/Resumes/externals/images/ui-icons_469bdd_256x240.png); }
.ui-widget-content .ui-icon {background-image: url(~/application/modules/Resumes/externals/images/ui-icons_469bdd_256x240.png); }
.ui-widget-header .ui-icon {background-image: url(~/application/modules/Resumes/externals/images/ui-icons_d8e7f3_256x240.png); }
.ui-state-default .ui-icon { background-image: url(~/application/modules/Resumes/externals/images/ui-icons_6da8d5_256x240.png); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(~/application/modules/Resumes/externals/images/ui-icons_217bc0_256x240.png); }
.ui-state-active .ui-icon {background-image: url(~/application/modules/Resumes/externals/images/ui-icons_f9bd01_256x240.png); }
.ui-state-highlight .ui-icon {background-image: url(~/application/modules/Resumes/externals/images/ui-icons_2e83ff_256x240.png); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(~/application/modules/Resumes/externals/images/ui-icons_cd0a0a_256x240.png); }

/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-tl { -moz-border-radius-topleft: 2px; -webkit-border-top-left-radius: 2px; border-top-left-radius: 2px; }
.ui-corner-tr { -moz-border-radius-topright: 2px; -webkit-border-top-right-radius: 2px; border-top-right-radius: 2px; }
.ui-corner-bl { -moz-border-radius-bottomleft: 2px; -webkit-border-bottom-left-radius: 2px; border-bottom-left-radius: 2px; }
.ui-corner-br { -moz-border-radius-bottomright: 2px; -webkit-border-bottom-right-radius: 2px; border-bottom-right-radius: 2px; }
.ui-corner-top { -moz-border-radius-topleft: 2px; -webkit-border-top-left-radius: 2px; border-top-left-radius: 2px; -moz-border-radius-topright: 2px; -webkit-border-top-right-radius: 2px; border-top-right-radius: 2px; }
.ui-corner-bottom { -moz-border-radius-bottomleft: 2px; -webkit-border-bottom-left-radius: 2px; border-bottom-left-radius: 2px; -moz-border-radius-bottomright: 2px; -webkit-border-bottom-right-radius: 2px; border-bottom-right-radius: 2px; }
.ui-corner-right {  -moz-border-radius-topright: 2px; -webkit-border-top-right-radius: 2px; border-top-right-radius: 2px; -moz-border-radius-bottomright: 2px; -webkit-border-bottom-right-radius: 2px; border-bottom-right-radius: 2px; }
.ui-corner-left { -moz-border-radius-topleft: 2px; -webkit-border-top-left-radius: 2px; border-top-left-radius: 2px; -moz-border-radius-bottomleft: 2px; -webkit-border-bottom-left-radius: 2px; border-bottom-left-radius: 2px; }
.ui-corner-all { -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }

/* Overlays */
.ui-widget-overlay { background: #aaaaaa url(~/application/modules/Resumes/externals/images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); }
.ui-widget-shadow { margin: -8px 0 0 -8px; padding: 8px; background: #aaaaaa url(~/application/modules/Resumes/externals/images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }/* Resizable
----------------------------------*/
.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}/* Selectable
----------------------------------*/
.ui-selectable-helper { border:1px dotted black }
/* Accordion
----------------------------------*/
.ui-accordion .ui-accordion-header { cursor: pointer; position: relative; margin-top: 1px; zoom: 1; }
.ui-accordion .ui-accordion-li-fix { display: inline; }
.ui-accordion .ui-accordion-header-active { border-bottom: 0 !important; }
.ui-accordion .ui-accordion-header a { display: block; font-size: 1em; padding: .5em .5em .5em .7em; }
/* IE7-/Win - Fix extra vertical space in lists */
.ui-accordion a { zoom: 1; }
.ui-accordion-icons .ui-accordion-header a { padding-left: 2.2em; }
.ui-accordion .ui-accordion-header .ui-icon { position: absolute; left: .5em; top: 50%; margin-top: -8px; }
.ui-accordion .ui-accordion-content { padding: 1em 2.2em; border-top: 0; margin-top: -2px; position: relative; top: 1px; margin-bottom: 2px; overflow: auto; display: none; zoom: 1; }
.ui-accordion .ui-accordion-content-active { display: block; }/* Autocomplete
----------------------------------*/
.ui-autocomplete { position: absolute; cursor: default; }	
.ui-autocomplete-loading { background: white url('~/application/modules/Resumes/externals/images/ui-anim_basic_16x16.gif') right center no-repeat; }

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

/* Menu
----------------------------------*/
.ui-menu {
	list-style:none;
	padding: 2px;
	margin: 0;
	display:block;
}
.ui-menu .ui-menu {
	margin-top: -3px;
}
.ui-menu .ui-menu-item {
	margin:0;
	padding: 0;
	zoom: 1;
	float: left;
	clear: left;
	width: 100%;
}
.ui-menu .ui-menu-item a {
	text-decoration:none;
	display:block;
	padding:.2em .4em;
	line-height:1.5;
	zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	margin: -1px;
}
/* Button
----------------------------------*/

.ui-button { display: inline-block; position: relative; padding: 0; margin-right: .1em; text-decoration: none !important; cursor: pointer; text-align: center; zoom: 1; overflow: visible; } /* the overflow property removes extra width in IE */
.ui-button-icon-only { width: 2.2em; } /* to make room for the icon, a width needs to be set here */
button.ui-button-icon-only { width: 2.4em; } /* button elements seem to need a little more width */
.ui-button-icons-only { width: 3.4em; } 
button.ui-button-icons-only { width: 3.7em; } 

/*button text element */
.ui-button .ui-button-text { display: block; line-height: 1.4;  }
.ui-button-text-only .ui-button-text { padding: .4em 1em; }
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text { padding: .4em; text-indent: -9999999px; }
.ui-button-text-icon .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .4em 1em .4em 2.1em; }
.ui-button-text-icons .ui-button-text { padding-left: 2.1em; padding-right: 2.1em; }
/* no icon support for input elements, provide padding by default */
input.ui-button { padding: .4em 1em; }

/*button icon element(s) */
.ui-button-icon-only .ui-icon, .ui-button-text-icon .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon { position: absolute; top: 50%; margin-top: -8px; }
.ui-button-icon-only .ui-icon { left: 50%; margin-left: -8px; }
.ui-button-text-icon .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary { left: .5em; }
.ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }

/*button sets*/
.ui-buttonset { margin-right: 7px; }
.ui-buttonset .ui-button { margin-left: 0; margin-right: -.3em; }

/* workarounds */
button.ui-button::-moz-focus-inner { border: 0; padding: 0; } /* reset extra padding in Firefox */

/* Dialog
----------------------------------*/
.ui-dialog { position: absolute; padding: .2em; width: 300px; overflow: hidden; }
.ui-dialog .ui-dialog-titlebar { padding: .5em 1em .3em; position: relative;  }
.ui-dialog .ui-dialog-title { float: left; margin: .1em 16px .2em 0; } 
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }

.ui-dialog .ui-dialog-content { border: 0; padding: 10px; background: #fafafa; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-content input#txt-username{float:left;padding: 10px; background: #fff; width: 195px; float: left;border: 1px solid #e4e3e8;color: #777f82;}
.ui-dialog .ui-dialog-content input#txt-email{float:left;padding: 10px; background: #fff; width: 195px; float: left;border: 1px solid #e4e3e8;color: #777f82;}

.ui-dialog .ui-dialog-content #save_username {float:right;font-weight: bold;width: auto;border-radius: 2px;height: 27px;color: #fff;display: block;background-color: #50c1e9;border: none;margin-left: 5px;cursor: pointer; margin-top: 5px}
.ui-dialog .ui-dialog-content #save_email {float:right;font-weight: bold;width: auto;border-radius: 2px;height: 27px;color: #fff;display: block;background-color: #50c1e9;border: none;margin-left: 5px;cursor: pointer; margin-top: 5px}


.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane button { float: right; margin: .5em .4em .5em 0; cursor: pointer; padding: .2em .6em .3em .6em; line-height: 1.4em; width:auto; overflow:visible; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }

.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }

/* Slider
----------------------------------*/
.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }/* Tabs
----------------------------------*/
.ui-tabs { position: relative; padding: .2em; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav { margin: 0; padding: .2em .2em 0; }
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 .2em 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; }
.ui-tabs .ui-tabs-nav li a { float: left; padding: .5em 1em; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 1em 1.4em; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }
/* Datepicker
----------------------------------*/
.ui-datepicker { width: 17em; padding: .2em .2em 0; }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.ui-datepicker .ui-datepicker-prev { left:2px; }
.ui-datepicker .ui-datepicker-next { right:2px; }
.ui-datepicker .ui-datepicker-prev-hover { left:1px; }
.ui-datepicker .ui-datepicker-next-hover { right:1px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width:auto; }
.ui-datepicker-multi .ui-datepicker-group { float:left; }
.ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
.ui-datepicker-row-break { clear:both; width:100%; }

/* RTL support */
.ui-datepicker-rtl { direction: rtl; }
.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }
.ui-datepicker-rtl .ui-datepicker-group { float:right; }
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; }

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}/* Progressbar
----------------------------------*/
.ui-progressbar { height:2em; text-align: left; }
.ui-progressbar .ui-progressbar-value {margin: -1px; height:100%; }
/* end */

.list_job_saved{background: #fff}