.panel {float:left;margin-right:3px;position:absolute;;z-index:99;margin-top:1px}
.panel .trigger {padding-left: 29px; background:#fff url(~/application/modules/Core/externals/images/arrow-17.gif) right 2px no-repeat;border:1px solid #999;cursor:pointer;height:35px;overflow:hidden;width:148px;padding-left:10px;line-height:22px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px}
.panel .content {background:#fff url(~/application/modules/Core/externals/images/gradient-1.gif) left bottom repeat-x;border:1px solid #DCDCDC;padding:10px;right:0;top:24px;width:138px;z-index:100; height: 205px; overflow: auto;}
.panel .content .s-input{float:left;margin-bottom:6px;clear:both;width:138px}
.panel .content .s-input input{margin:0 3px 0 0;width:auto;border:none;color:#fff;font-size:0px;float:left;display:inline-block }
.panel .content .s-input label {font-weight:normal;line-height:15px; float:left;display:inline-block;width:115px}
.wd-content-container .wd-center {width: 1188px !important;}
.error{ color: red}
label.error{width: 100px !important;}
.list_my_questions table.my_experts tr.form_answer td p {width: auto !important;}
.wd-content-left { width:204px; float:left; padding-top:20px;}
.pt-subpage  .wd-center  {width:1188px !important}
.pt-comment-text .pt-submit-comment { margin-left:63px !important;}
.pt-comment-text .pt-textarea {padding-left: 18px !important;}

#wd-content-container {padding-bottom:0px !important;padding-top:0px !important;}

.pt-list-right .pt-user-post .pt-how-info-user-post {
    width: 177px;
}
span.pt-avatar img{
border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    display: block;
    float: left;
    height: 45px;
    width: 45px;
}