.infom_profile{ padding-top: 10px; padding-left: 10px;}
.infom_profile img{float: left; margin-bottom: 10px; margin-top: 12px;}
.infom_profile p {clear: both;padding-bottom: 5px;}
.list_my_job table td{padding: 12px 0;}
.list_my_job table {width: 100%;}
.list_my_job table tr.back_gr_gray{background-color: #F4F3F3;}
.list_job_saved table td{padding: 12px 0;}
.list_job_saved table {width: 100%;}
.list_job_saved table tr.back_gr_gray{background-color: #F4F3F3;}
.list_job_saved table input[type="checkbox"] { margin-left: 10px; margin-top: 3px;}
div .job_manage_tool{background-color: #fff;}
#jobs-search fieldset p { position:absolute; color: #ff7200; font-size: 1.15em; left: 418px; top: 188px; }

.layout_middle #recruiter_search #jobs-search { background: none; border: none; padding-bottom: 30px; }
.layout_middle #recruiter_search #jobs-search .section { background: url(~/application/modules/Core/externals/images/bg-jobs-search-inner.jpg) no-repeat 95% bottom; font-size: .8em; height: auto; width: auto; }
.layout_middle #recruiter_search #jobs-search fieldset { padding-top: 0; }
.layout_middle #recruiter_search #jobs-search fieldset .input label { color: #000; width: 90px; }
.layout_middle #recruiter_search #jobs-search fieldset .input input { width: 520px; }
.layout_middle #recruiter_search #jobs-search fieldset .input select { width: 215px; }
.layout_middle #recruiter_search #jobs-search fieldset .submit { padding-left: 90px; }
.layout_middle #recruiter_search #jobs-search fieldset .submit input { font-size: 1.5625em; }
.layout_right .content_online_resume a.bt_create{display:block;width:198px;height:43px;background:url(~/application/modules/Job/externals/images/bg-btn-3.gif) no-repeat;color:#fff;font-size:14px;font-weight:bold;line-height:43px;margin:10px auto;text-align:center}
.layout_right .content_online_resume a.company_profile{text-align: center;padding:83px; color: #000; font-weight: bold; text-decoration:underline;}
.layout_right .content_online_resume a.company_profile:hover{color: #027a9f;}
/* recruiter */
.recruiter .layout_right { width: 282px; }
.recruiter .layout_middle { padding: 0; width: 650px; }
.recruiter .layout_middle .block_content { width: 318px; }
.recruiter .subsection { background: url(~/application/modules/Job/externals/images/bg_subcontent.jpg) left bottom repeat-x; }
.recruiter .subsection h2{ border-bottom: none; background-position: 0 -488px; }
.recruiter .layout_right .paginationControl { padding: 10px 4px; }
.recruiter .layout_middle .paginationControl { padding: 5px 19px 20px; }

/* resume-list */
.resume-group { overflow: hidden; }
.resume-group .resume-list { float: left; width: 286px; }
.layout_right .resume-list { padding: 4px; }
.layout_middle .resume-list { padding: 19px 19px 5px; }
.resume-group .resume-list li, .popular_resumes .resume-list li { border-bottom: #e2e2e2 solid 1px; height: 50px; margin-bottom: 10px; overflow: hidden; padding: 0 0 10px 60px; position: relative; }
.popular_resumes .resume-list li{margin-left: 6px;}
.resume-list li img { left: 0; position: absolute; top: 0; }
.resume-list li h3 { font-size: 1em; margin-top: 10px; }
.resume-list li h3 a:link, .resume-list li h3 a:visited { color: #000; }
.resume-list li h3 a:hover { color: #027a9f; }

li .content_questions h3 { font-size: 1em; margin-top: 10px; }
li .content_questions h3 a:link,  li .content_questions h3 a:visited { color: #000; }
li .content_questions h3 a:hover { color: #027a9f; }
/* job-list */
.job-list table { border-collapse: collapse; width: 100%; margin-top:1px; margin-left:1px;}
.job-list table th, .job-list table td { border: #d0e2ec solid 1px; padding: 10px 15px; }
.job-list table th { background: #fff url(~/application/modules/Recruiter/externals/images/bg-gradient-1.png) repeat-x left bottom; }
.job-list table td { background-color: #fafafa; text-align: center; }
.job-list table tr:hover td { background-color: #e9f4fa; }
.job-list table td.title { color: #000; font-weight: bolder; text-align: left; }
.job-list table td.action { text-align: right; }
.job-list .paginationControl { background: #fff url(~/application/modules/Recruiter/externals/images/bg-gradient-2.png) repeat-x left bottom; border: #d0e2ec solid 1px; border-top: none; padding: 15px !important; }

/* breadcrumb */
#breadcrumb { color: #027a9f; font-size: 1.15em; overflow: hidden; padding-bottom: 20px; }
#breadcrumb a:link, #breadcrumb a:visited { color: #000; }
#breadcrumb a:hover { color: #027a9f; }
#breadcrumb a, #breadcrumb span, #breadcrumb strong { float: left; }
#breadcrumb span { background: url(~/application/modules/Core/externals/images/arrow_title.gif) no-repeat center; overflow: hidden; text-indent: -1983em; width: 30px; }

/* job-form */
.job-form { padding: 19px; }
.job-form h3 { border-bottom: #cfcfcf solid 1px; color: #808080; font-size: 1.15em; margin: 10px 0; padding: 5px 0; text-transform: uppercase; }
.job-form .input { overflow: hidden; padding: 7px 0; }
.job-form .input label { color: #000; float: left; font-weight: bolder; line-height: 37px; margin-right: 10px; text-align: right; width: 90px; }
.job-form .input input, .job-form .input select, .job-form .input textarea { border: #e5e5e5 solid 1px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; float: left; margin-right: 20px; padding: 9px; }
.job-form .input select#country_id,.job-form .input select#city_id{width: 200px;}
.job-form .job_date select#deadline-month, .job-form .job_date select#deadline-day, .job-form .job_date select#deadline-year{width: 110px;}
.job-form .input input:focus, .job-form .input select:focus, .job-form .input textarea:focus { border-color: #999; }
.job-form .input input { width: 350px; }
.job-form .input input.min { width: 160px; }
.job-form .input select { width: 370px; }
.job-form .job_date label{ color: #000; float: left; font-weight: bolder; line-height: 37px; margin-top: 8px; margin-right: 10px; text-align: right; width: 90px; }
.job-form .job_date select{ border: #e5e5e5 solid 1px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; margin-top:9px; margin-right: 20px; padding: 9px; }

.job-form .input textarea { height: 150px; overflow: auto; width: 460px !important; }
.job-form .file label { line-height: 23px; }
.job-form .file input { width: auto; }
.job-form .input ul li { float: left; }
.job-form .input ul li input { border: none; margin: 11px 7px 0 0; padding: 0; width: auto; }
.job-form .input ul li label { font-weight: normal; margin-right: 20px; width: auto; }
.job-form .submit { margin-top: 10px; overflow: hidden; padding-left: 100px; }
.job-form .submit input { background: url(~/application/modules/Core/externals/images/bg-btn-1.png) no-repeat; border: none; color: #fff; cursor: pointer; float: left; font-size: 1.25em; font-weight: bolder; height: 35px; line-height: 35px; margin-right: 10px; text-align: center; width: 127px; }
.job-form .submit input:hover { background-position: left -35px; }
.job-form .submit input.min { background-image:  url(~/application/modules/Core/externals/images/bg-btn-2.png); width: 79px; }
/* job-view-profile */
.recruiter-view-profile .layout_left{padding-right:32px}
.recruiter-view-profile .layout_middle{padding:0;margin-bottom:50px}
.recruiter-view-profile .member h3{padding-bottom:5px}
.recruiter-view-profile .member p{text-align:center;padding-bottom:3px}
.recruiter-view-profile .member_rating{padding:14px 0 10px;margin:6px 10px 0;background:url(~/application/modules/Recruiter/externals/images/border_double.png) repeat-x}
.recruiter-view-profile .member_rating img.rating{float:left;margin:-2px 4px 0 0}
.recruiter-view-profile .function_extra{padding:10px 15px}
.recruiter-view-profile .function_extra a{display:block;line-height:37px;height:37px;padding-left:41px;width:124px;background:url(~/application/modules/Recruiter/externals/images/bt_function_extra.png) no-repeat;margin-bottom:8px;color:#282828}
.recruiter-view-profile .function_extra a:hover{color:#e56b00}
.recruiter-view-profile .function_extra a.network_profile{background-position:0 -37px}
.recruiter-view-profile  .layout_middle .tab .content{background-color:#fff;padding:25px 30px}
.recruiter-view-profile .layout_middle .tab .item {height:35px}
.recruiter-view-profile .layout_middle .tab .item li a {line-height: 35px;padding: 0 22px}
.recruiter-view-profile .layout_middle .tab .content p{margin:12px 0;line-height:17px}
.recruiter-view-profile .layout_middle .tab .content p span{color:#737373;font-weight:bold;padding-right:5px}
.recruiter-view-profile .layout_middle .tab .content p strong{font-size:14px;color:#3c3c3c}
.recruiter-view-profile .layout_middle .tab .content p a{color:#1cb2e1;font-weight:bold}
.recruiter-view-profile .layout_middle .tab .content p a:hover{color:#e56b00}
.recruiter-view-profile .layout_middle a.print_profile{color:#282828;float:right;padding:4px 0 4px 27px;background:url(~/application/modules/Recruiter/externals/images/ico_print_profile.png) 0 3px no-repeat;margin-top:12px}
.recruiter-view-profile .layout_middle a:hover.print_profile{color:#e56b00}
.job-form-step-2 .job_match ul li{margin-top: -7px; margin-left: -7px;}
.company_profile img{
    background:transparent url(~/application/modules/Recruiter/externals/images/bg_img_employers.gif) no-repeat scroll 0 0;
}
.layout_middle .tab .item li a { background: url(~/application/modules/Core/externals/images/sprite.png) repeat-x left -428px; border: #d0e2ec solid 1px; border-bottom: 0; border-top-left-radius: 3px; -moz-border-radius-topleft: 3px; -webkit-border-radius-topleft: 3px; border-top-right-radius: 3px; -moz-border-radius-topright: 3px; -webkit-border-radius-topright: 3px; color: #6e6e6e; font-weight: bolder; line-height: 31px; padding: 0 9px; text-shadow: #fff 1px 1px; }
.layout_middle .tab .item li.current a span { background: url(~/application/modules/Core/externals/images/ico-arrow-7.gif) no-repeat center bottom; }
p a.share_job { background: url(~/application/modules/Recruiter/externals/images/bg-share.gif) no-repeat; padding: 0px 10px 0px 20px; font-size: 1em  }
.link_jobs p.new_resume a{color: #028EB9;font-size: 1em; text-decoration: none; font-weight: normal;}
.link_jobs p.new_resume a:hover{color: #000;}
